Simple imputer

In [1]:
import numpy as np 
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [2]:
df=pd.read_csv('superhero_abilities_dataset (Linear).csv')
df

,Name,Universe,Alignment,Strength,Speed,Intelligence,Combat Skill,Weapon,Power Score,Popularity Score
0,Iron Man #1,Marvel,Anti-Hero,1.0,1.0,2.0,5,Sword,65,40
1,Batman #1,DC,Anti-Hero,5.0,4.0,6.0,2,Shield,94,98
2,Joker #1,Marvel,Hero,3.0,9.0,2.0,5,Hammer,62,40
3,Thor #1,Marvel,Hero,1.0,6.0,2.0,8,Claws,83,91
4,Thanos #1,Marvel,Villain,4.0,3.0,2.0,9,Claws,78,77
...,...,...,...,...,...,...,...,...,...,...
195,Doctor Strange #10,DC,Villain,7.0,5.0,8.0,1,Sword,68,9
196,Hulk #10,DC,Anti-Hero,9.0,2.0,6.0,8,Shield,90,38
197,Aquaman #10,DC,Hero,3.0,3.0,7.0,7,Sword,97,48
198,Catwoman #10,Marvel,Hero,9.0,NaN,3.0,7,Magic,42,60
199,Wolverine #10,Marvel,Hero,1.0,6.0,NaN,3,Bow,95,63

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              200 non-null    int64
 1   Universe          200 non-null    int64
 2   Alignment         200 non-null    int64
 3   Strength          200 non-null    float64
 4   Speed             200 non-null    float64
 5   Intelligence      200 non-null    float64
 6   Combat Skill      200 non-null    int64
 7   Weapon            200 non-null    int64
 8   Power Score       200 non-null    int64
 9   Popularity Score  200 non-null    int64
dtypes: float64(3), int64(7)
memory usage: 15.8 KB

In [11]:
df.isnull().sum()

Name                0
Universe            0
Alignment           0
Strength            0
Speed               0
Intelligence        0
Combat Skill        0
Weapon              0
Power Score         0
Popularity Score    0
dtype: int64

In [10]:

df['Weapon']=df['Weapon'].fillna(df['Weapon'].mode()[0])

Simple Imputer

In [8]:
from sklearn.impute import SimpleImputer
imputer=SimpleImputer(strategy='median')
df['Strength']=imputer.fit_transform(df[['Strength']])
df['Speed']=imputer.fit_transform(df[['Speed']])
df['Intelligence']=imputer.fit_transform(df[['Intelligence']])

In [12]:
le=LabelEncoder()
df['Name']=le.fit_transform(df['Name'])
df['Universe']=le.fit_transform(df['Universe'])
df['Alignment']=le.fit_transform(df['Alignment'])
df['Weapon']=le.fit_transform(df['Weapon'])

In [14]:
x=df.drop(['Power Score'],axis=1)
y=df['Power Score']
sc=StandardScaler()
x=sc.fit_transform(x)
x

array([[ 0.18186761,  1.        , -1.2241414 , ..., -0.13572186,
         1.40620374, -0.37363626],
       [-1.55020485, -1.        , -1.2241414 , ..., -1.19329479,
         0.9474097 ,  1.59913599],
       [ 0.35507485,  1.        ,  0.03138824, ..., -0.13572186,
        -0.42897243, -0.37363626],
       ...,
       [-1.70609137, -1.        ,  0.03138824, ...,  0.56932676,
         1.40620374, -0.10152974],
       [-1.01326239,  1.        ,  0.03138824, ...,  0.56932676,
         0.02982161,  0.30663003],
       [ 1.41163905,  1.        ,  0.03138824, ..., -0.84077048,
        -1.34656051,  0.40866998]], shape=(200, 9))

In [15]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test= train_test_split(x, y, test_size=0.30, random_state=42)
from sklearn.linear_model import LinearRegression
model=LinearRegression() #call a variable for the model
model.fit(x_train,y_train) #fit the x_train and y_train in the model
y_pred=model.predict(x_test)

In [16]:
from sklearn.metrics import r2_score
print(r2_score(y_test, y_pred))
from sklearn.metrics import mean_absolute_error
print(mean_absolute_error(y_test, y_pred))
from sklearn.metrics import mean_squared_error
print(mean_squared_error(y_test, y_pred))

-0.10308900288400524
17.395881742192135
406.87897491794405